.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  color: #424242;
  list-style-type: diamond;
}

header {
  color: #006064;
  background: #fbe9e7;
  float: left;
  height: auto;
}

.hero-title {
  font-size: 50px;
  background: #0097a7;
  color: white;
  text-emphasis: dot;
  text-shadow: color;
}

.selling-points {
  background: #e0f7fa;
  padding: 20px;
  float: right;

}

.point-title {
  color: black;
}

.point-description {
  color: #9e9e9e;
}
